main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  padding-inline: 5rem;
}

.selfie {
  height: 24rem;
  width: 24rem;
  object-fit: cover;
  border-radius: 12rem;
}

main > h1 {
  font-size: var(--title);
}

.intro_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.intro_content > h3 {
  font-size: 2rem;
}

.socials {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  font-size: 2.4rem;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap);
}

.about > h1 {
  font-size: var(--title);
}

.about > p {
  font-size: 2rem;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.project-wrapper > h1 {
  text-align: center;
  font-size: var(--title);
}

.project-items {
  display: flex;
  gap: calc(var(--gap) * 2.25);
}

.project-items img {
  width: 25rem;
  transition: transform 0.15s ease-out;
}

.project-items a:hover img,
.project-items a:focus img {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  main {
    padding-inline: 1.24rem;
    font-family: "Century Gothic", sans-serif;
  }

  body {
    font-size: 1.24rem;
    grid-template: min-content/auto;
  }

  .selfie {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .intro_content {
    text-align: center;
  }

  .socials > li {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 10rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap);
  }

  .about > h1 {
    font-size: var(--title);
  }

  .about > p {
    font-size: 1.5rem;
  }

  .project-wrapper {
    display: flex;
    width: 80%;
  }

  .project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  .project-items li {
    width: 90%;
    margin: 1rem auto;
  }
}
